

* {
    font-family: Oswald;
    font-size: 1em;
    font-weight: normal;
}

p {
    margin: 0;


}

#map {
    z-index: 2;
    flex-grow:1 ;
    height: 43%;
    min-height: 300px;
    width: 100%;
    margin: auto;
}
.gm-style{
    background-color: #011239;

}


 body {
   display: flex;
     display: -webkit-flex;

    flex-direction: column;
     -webkit-flex-direction: column;
     -moz-flex-direction:column;
    height: 100%;
    margin: 0;
    padding: 0;
    /*min-height: 714px;*/
}


.header {
    display: flex;
    align-items: center;
    background-color: #033fc8;

    clear: both;
    color: white;
    height: 70px;
}

.header p {

    margin-left: 1.5%;

    display: inline;
}

a {

}

.logo {
    margin-left: 60px;
    margin-right: 1.5%;

}

.faceebok {
    float: right;
    margin-right: 60px;
    position: absolute;
    bottom:10%;
    right: 0;


}

.break {
    position: relative;
    z-index: 3;
    background-color: #FBFC03;
    height: 2px;
    clear: both;
}

.about {

    background-image: url("img/Warstwa_4.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 66.67%;
    float: left;
    height: 140px;



}

.about p {
    margin-left: 60px;
    position: relative;
    font-size: 0.9em;
}

.first {
    margin-top: 10px;
}

#address {
    height: 30px;
    background-color: #FBFC03;
    font-family: Oswald;
    color: black;
    border-width: 0;
    width: 350px;
    padding-left: 3%;
}

.bottom {
    position: absolute;
    bottom: 11px;
    width: 350px;
    right: 60px;
}

.blueline {
    display: none;
}

.form1 {
    position: relative;
    height: 140px;
    background-color: black;
    float: right;
    width: 33.33%;
}

.form1 p {
    margin-bottom: 1%;
}

.option {
    position: relative;
    height: 27%;
    margin-bottom: 1%;
    width: 66.67%;
    float: left;
}

.option p {
    margin-left: 60px;
    margin-bottom: 2px;
}

.line {
    display: inline-block;
}

.line2 {
    display: inline-block;
}

.line2 p {
 }

.line23 {
    display: inline-block;

}

#send {
    width: 200px;
    height: 30px;
    background-color: #FBFC03;
    border-width: 0;
    font-family: Oswald;
    cursor: pointer;
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 190px;
}

.priceDiv {
    position: relative;
    display: inline;
    float: right;
    width: 33.33%;
}

.second {
    right: 60px;
    display: flex;
    align-items: stretch;
    position: absolute;
    width: 350px;
    margin-top: 10px;
}

.price {
    color: white;
}

.priceCena {
    width: 16%;
}

.checkbox-inline {

    width: 27%;
}

.margin .line {
    font-size: 0.9em;
}

.color1 {
    color: #fbfc03;
}

.mobile {
    margin-left: 60px;
}

.big {
    font-size: 2em;
}

.stayPro {
    position: absolute;
    display: table;
    height: 25px;
    margin-top: 165px;
    color: white;
    background-color: #033FC8;
    width: 200px;
    text-align: center;

    right: 60px;

}

.bold {
    font-weight: 700;
    letter-spacing: 1px;
}

.light {
    font-weight: 200;

}


/*input[type=checkbox] {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*-ms-apperance:none;*/
    /*-moz-outline:0;*/
    /*-moz-border:none;*/

    /**/

    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*!*-webkit-appearance: none;*!*/
    /*outline: 0;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-size: contain;*/

/*}*/

/*input[type=checkbox]:not(:checked) {*/
    /*-moz-background-image: url("img/checkbox2.png") ;*/

    /*background-image: url("img/checkbox2.png");*/
/*}*/

/*input[type=checkbox]:checked {*/
/*-moz-background-image: url("img/odchaczone.png");*/
    /*background-image: url("img/odchaczone.png");*/
    /*background-color: white;*/
    /*border-radius: 2px;*/
/*}*/

label.checkbox input[type="checkbox"] {display:none;}
label.checkbox span {
    display:inline-block;

    width:10px;
    height:10px;
    vertical-align:middle;
    transition:width 0.1s, height 0.1s, margin 0.1s;
    background-image: url("img/checkbox2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
label.checkbox :checked + span {
    width:10px;
    height:10px;
    /*margin: 3px;*/
    background-image: url("img/odchaczone.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.faceebokMobile{
    display: none;
}
.miastoMobile {
    display: none;
}

.miastoGradient {
    display: none;

}
.miasto{
    /*height: 125px;*/
    /*margin-top: 65px;*/
}
.miastoDiv{
    width:100%;
    height: 183px;
    background-image: url("img/miasto .png");
    background-repeat: repeat-x;
    position: absolute;
    z-index: 1;
    margin-top:7px;
}
.miastoDivMobile{
    display: none;
}
.gradient{
    height:190px;
}
@media screen and (min-device-width: 950px) and (max-device-width: 1100px) {

    .line {
        display: block;
    }
}

@media only screen and (max-width: 950px) {
    * {
        font-size: 0.97em;
    }
    body{
        height: auto;
    }

    .header {
        height: 46px;
    }

    .header p {
        margin-right: 20px;
    }

    .about {
        background-color: #022574;
        width: 100%;
        height: auto;
        background-image: none;
        padding-top: 6px;

    }

    .about p {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .logo {
        margin-left: 20px;
        height: 30px;
        width: 130px;
    }

    .dzielaca {
        height: 22px;
        width: 1px;
    }

    .form1 {
        min-height: 96px;
        float: left;
        width: 100%;
        height: 96px;
    }

    .bottom {
        bottom: 15px;
        top: 15px;
        width: auto;
        right: 20px;
        left: 20px;
    }

    #address {
        width: 100%;
    }

    .line {
        display: block;
    }

    .line2 {
        display: inline-block;
        margin-bottom: 19px;

    }

    .blueline {
        margin-top: 10px;
        display: block;
        background-color: #01133c;
        height: 15px;
        width: 100%;
        position: relative;
    }

    .line23 {
        display: inline-block;
        width: 100%;

    }

    .option {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
        margin-bottom: 0;
        background-color: black;
        line-height: 27px;
        width: 90%;
    }

    .option p {
        margin-left: 0;
    }

    .mobile {
        margin-left: 0;
        font-size: 1.2em;
    }

    .priceDiv {
        display: block;
        float: left;
        width: 100%;
        height: 100px;
        margin-top: 0;
    }

    .priceCena {
        margin-left: 20px;
        margin-right:10px;
        width: auto;
    }

    #send {
        height: 40px;
        width: 100%;
        display: block;
        float: right;
    }

    .second {
        position: relative;
        width: 100%;
        display: block;
        right: 0;
        font-size: 1.5em;

    }

    .stayPro {
        position: relative;
        text-align: center;
        width: 100%;
        margin-left: 0;
        right: 0;
        height: 25px;
        margin-top: 0;

    }

    .warstwa {
        display: none;
    }

    .faceebok {
        display: none;
    }

    .miasto {
        display: none;
    }
    .miastoDiv{
        display: none;
    }

    .gradient {
        display: none;
    }

    .miastoMobile {
        display: inherit;
        z-index: 1;
        position: absolute;
        /*bottom: 0;*/
        visibility: visible;
        width: 100%;
        height: 150px;
        margin-top:15px;

    }

    .miastoGradient {
        display: inherit;
        z-index: 0;
        position: absolute;
       top:0;
        visibility: visible;
        width: 100%;
        height: 165px;
    }
    .miastoDivMobile{
        display: inherit;
        z-index: 2;
        width: 100%;
        background-image: url("img/miastoMobile.png");
        position: absolute;
        height: 165px;
        top: 24px;
        background-repeat: repeat-x;
    }

    .faceebokMobile{
        display: inherit;
        z-index: 2;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    .footer {
        height: 387px;
    }
    .img{
        height: 165px;
        display: inherit;
    }
    .optionParent{
        height: 225px;
    }
}
@media only screen and (max-width: 320px) {

    *{
        font-size: 0.94em;
    }
    .logo{
        width: 118px;
        height:27px;
    }
}